.add-item {
    text-align: center;
}

.add-item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin: 0 auto;
    text-decoration: none;
    background: #f5b01b;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 10px;
    font-size: 18px;
    width: 120px;
    font-family: 'LeagueSpartan', sans-serif;
    height: 48px;
    margin-bottom: 30px;
}

.add-item p a {
    text-decoration: none;
    color: white;
    
}